<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- CSS Section -->
  <link rel="icon" type="image/png" href="/Assets/images/logo.svg" />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/navbar/navbar.css">

  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

  <link rel='stylesheet' href='/Content/app.css' />
  <link rel='stylesheet' href='/Content/registration.css' />
  <link rel="stylesheet" href="/Content/style.css" />
  <link rel="stylesheet" href="/Content/contact-style.css">
  <script src="/Scripts/bootstrap.bundle.min.js"></script>

  <!-- CSS Section for Service Page-->
  <link href="/Content/service-style.css" rel="stylesheet">

  <!-- CSS Section for Home Page-->
  <link href="/Content/home-style.css" rel="stylesheet">

  <!-- CSS Section for Animation and Hover Animation and Icons in Business Contact-->
  <link href="/animate.css/animate.min.css" rel="stylesheet">
  <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/hover.css/css/hover-min.css">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  <!-- CSS Section for Table in Business Contact-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

</head>

<body>