<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Header section start -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="site-logo">
                    <h2 class="animate__animated animate__fadeInDown"><a href="#">About Me</a></h2>
                    <p>This page introduce me virtually</p>
                </div>
            </div>
            <div class="col-md-8 text-md-right header-buttons">
                <a href="https://drive.google.com/file/d/1TwnX-0_rpaCcgRCM8UgE9auxKOlpDPe_/view?usp=sharing" class="site-btn">Download CV</a>
                <a href="https://www.linkedin.com/in/hasnain-ali-bohra-84210291/" class="site-btn">Discover me</a>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->

<!-- Hero section start -->
<section class="hero-section spad" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-text">
                            <h3>Hasnain Ali Bohra</h3>
                            <p>I’m a Software Engineer in love with Java, Data Strcuture and discovering new worlds and cultures.</p>
                        </div>
                        <div class="hero-info">
                            <h3>General Info</h3>
                            <ul>
                                <li><span>Date of Birth</span>May 02, 1993</li>
                                <li><span>Address</span>Rajasthan, Inda</li>
                                <li><span>E-mail</span>hasnain.ali.bohra123@gmail.com</li>
                                <li><span>Phone </span>+91 9642642852</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <figure class="hero-image">
                            <img src="Assets/images/hasnain.jpg" alt="5">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Social links section start -->
<div class="social-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="social-link-warp">
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/hasnain-ali-bohra-84210291/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://stackoverflow.com/users/4627942/hasnain-ali-bohra"><i class="fab fa-stack-overflow"></i></a>
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                    <h2 class="hidden-md hidden-sm">My Social Profiles</h2>
                </div>
            </div>
        </div>
    </div>
</div>	
<!-- Social links section end -->
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  